.logo {
    margin-top: 7px;
    height:50px;
    margin-left: 50px;

}


.navbar_main_container {
    
    
    width: 100%;
    border:0px;
     background-color: #711628;
  
    height:90px;
    border-radius: 0px;
    margin-bottom: 0px;
  
}
    

.nav_links {
    margin-right: 2rem;
    padding: 10px;
}

.navbar_main_container .navbar-nav > li > a {
    color: red;
    font-size: 2rem;
    
   
    
  
}

.navbar_main_container .navbar-nav > li > a:hover{
    
    color:red;
    border: 1px solid red;
    transition: all 0.3s ease;
  
  
}




/* Middle Page */


.main_page {
    background-color: #f2f2f2;
    height: 80vh;
    margin-top: 0px;
}



.log_text {
   
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 17%;

}

  


.log_form_group {

    width: 60%;
    margin-left: 17%;
}

.sign_up_btn {
    margin-left: 17%;
    background-color:  #1261A0;
    color:white;
}









/* Footer */


.footer_container{
    background-color: #711628;

    height: 80px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}



.all_footer {

    width: 100%;
    margin-bottom: 0px;


}

.social_media_container {
    
 
    float: right;
    margin-right: 15rem;
    margin-left: 0px;
    display:inline;
    margin-top: 1rem ;

}

.social_media_links  {

    padding: 18px;

    margin-top: 0px;
    

    font-size: 4rem ; 
  
   
  
}

.fa {
    font-size: 2rem !important;
}

.rights_container {
    margin-left:15rem;
    margin-top: 3rem ;
}

.rights {
    
   
    display:inline;
    color:white;
    
}